---
layout: home
---
<section id="about">
	<div class="container">
	  <div class="avatar">
 	  {% include grafotar.html %}
	  </div>
	  	<h4>My name is Anatoly Naydenov. I am a system administrator. I have got broad experience in providing continuous availability of loaded web services.</h4>
	  	<h4>Since 2012, I have focused my work on data bases and virtualization systems in the Siberian branch of the Russian Academy of Sciences.</h4>
	  	<h4>My remote work was mainly related to regional Internet-shops and micro service architectures.</h4>
		<h4>I live in Irkutsk. I would be glad to work with established teams on a long-term basis. I am opened for job suggestions related.</h4>	
	  {% include social.html %}
	</div>
</section>
