---
layout: home
---
<section id="about">
	<div class="container">
	  <div class="avatar">
 	  {% include grafotar.html %}
	  </div>
	  	<h4>My name is Anatoly Naydenov, I am a system administrator, provides continuous availability of loaded Web services.</h4>
	  	<h4>Since 2012, the work focused on data warehousing and virtualization systems in the Siberian branch of the Russian Academy of Sciences, and my remote work mainly linked to regional Internet-shops and mikroservisnoy architecture.</h4>
	  	<h4>I live in Irkutsk, work under contract, and always bear responsibility.</h4>
		<h4>I will be glad to long-term cooperation with the existing teams, open to suggestions on the design of server architectures and operating services Scaling.</h4>	
	  {% include social.html %}
	</div>
</section>
