---
layout: home
---
<section id="about">
	<div class="container">
	  <div class="avatar">
 	  {% include grafotar.html %}
	  </div>
	  <h4>Меня зовут Анатолий Найдёнов, я системный администратор, обеспечиваю постоянную доступность нагруженных веб-сервисов.</h4>
	  <h4>С 2012 года сфокусирован на работу с хранилищами данных и системах виртуализации в сибирском отделении Российской академии наук, а моя удалённая работа преимущественно связана с региональными интернет-магазинами и микросервисной архитектурой.</h4>
	  <h4>Живу в Иркутске, буду рад к долгосрочному сотрудничеству со сложившимися командами, открыт для предложений по проектированию серверных архитектур и маштабированию работающих сервисов.</h4>
	  {% include social.html %}
	</div>
</section>
