<section class="thirteen columns">
    <h1>Skills</h1>
    <article>
        <header>
            <h1>Server administration, Devops, web-development</h1>
            <span>
            </span>
        </header>
            <div class="row">
                <div class="twp column">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
                </div>
                <div class="ten columns">
                    <em>Server administration: </em> AWS, Proxmox VE, KVM, Rancher, ZFS, RAID, CoreOS, BareOS, Docker, Nginx, Jetty, Exim, Dovecot, PHP-FMP, systemd timers.
                </div>
                <div class="twp column">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                </div>
                <div class="ten columns">
                    <em>DevOps:</em>
                    continuous integration (Travis-CI, Teamcity), monitoring (Grafana, Prometheus) Youtrack, Docker
                </div>
                <div class="twp column">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-0"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                </div>
                <div class="ten columns">
                    <em>Database Management:</em>
                    PostgreSQL, MariaDB Galera Cluster 
                </div>
                <div class="twp column">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-0"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                </div>
                <div class="ten columns">
                    <em>Web-development:</em>
                    Python (Flask, Gunicorn, SQLAlchemy), and Ruby (Sinatra & uWSGI) 
                </div>
                <div class="twp column">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-0"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                </div>
                <div class="ten columns">
                    <em>Client side:</em>
                    Javascript (jQuery Mobile, Processing.js), HTML/CSS (HAML/SASS)
                </div>
            </div>
    </article>
</section>