<section class="thirteen columns">
    <h1>EXPERIENCE</h1>
    <article>
        <header>
            <h1>Freelance </h1><time>04.13 – to now</time>
        </header>
        <p class="skill"> AWS, Rancher, CoreOS, Python, Wordpress, Bitrix, Django, Elastic Search, etc</p>
    </article>

    <article>
        <header>
            <h1><a class="underline" href="http://isem.irk.ru/en/">ENERGY SYSTEMS INSTITUTE</a></h1> <span></h1>Siberian Branch of the Russian Academy of Science</address><span class="desc"></span></span>
        </header>
    </article>
    <div class="padd">
    <article>
        <header>
            <h2>Software Engineer<time>09.13 – to now</time></h2>
        </header>
        <p class="tick">  Development of internal services</p>
        <p class="tick">  Mentoring summer interns, launched a RAID-10 on a ZFS, written documentation</p>
        <p class="tick">  He carried out a live migration to the new mail server (Exim, PostgreSQL) with the transition c POP3 to IMAP, bringing improvements and getting rid of spam</p>
    </article>
    <article>
        <header>
            <h2>Assistant<time>09.12 – 09.13</time></h2>
        </header>
        <p class="tick"> The introduction of developments of internships in production, rethinking and restruktizatsiya existing network architecture, migrating from FreeBSD Jail on Proxmox VM debian</p>
        <p class="tick"> Unfolded virtualization based on Proxmox VE (KVM, OpenVZ)</p>
        <p class="tick"> Administration Web infrastructure, and migration from Tomcat, Apache, Clearos Web Mail on Jetty, Nginx, RoundCube</p>
    </article>
    <article>
        <header>
            <h2>Intern for Unix-systems<time>07.12 – 0.8.12</time></h2>
        </header>
        <p class="tick"> On the test bench have developed a new proxy gateway Traffic Controllers (squid), firewall (Perl-scripts, Iptables), OpenVPN, vsFTPd-store</p>
    </article>
    </div>
</section>
