<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>National Research Techinal University</h1>
            <address>Irkutsk, RU</address>
            <span><time>2010 — 2015</time></span>
        </header>
        <p>
            <em>Institute of Cybernetics named after E.I. POPOV, 
Faculty automated control system </em>
        </p>
        <p>Diploma: Design and development of mobile applications for the "Baikal Internet forum".</p>
        </p>Presentation of the project (Russian language, without video): <a class="underline" href="https://url.naydenov.tk/keynote_diploma">https://url.naydenov.tk/keynote_diploma</a></p>
    </article>
</section>
