<section class="thirteen columns">
    <h1>Образование</h1>
    <article>
        <header>
            <h1>ИРНИТУ (бывш. ИрГТУ)</h1>
            <span>институт Кибернетики</span>
            <span><time>2010 — 2015</time></span>
        </header>
        <p>
            <em>Автоматизированные Системы Управления</em>
        </p>
        <p>Диплом: Проектирование и разработка мобильных приложений для «Байкальского Интернет форума».</p>
        </p>Презентация проекта (с анимацией): <a class="underline" href="https://url.naydenov.tk/preza_diploma">https://url.naydenov.tk/preza_diploma</a></p>
    </article>
</section>
