<section class="thirteen columns">
    <h1>Опыт</h1>
    <article>
        <header>
            <h1>Фриланс </h1><time>04.13 – по н.в</time>
        </header>
        <p class="skill"> AWS, Rancher, CoreOS, Python, Wordpress, Bitrix, Django, Elastic Search, etc</p>
    </article>

    <article>
        <header>
            <h1>Институт систем энергетики </h1> <span><a class="underline" href="http://isem.irk.ru/institute/departments/index.php?CODE=80"></h1>(ИСЭМ СО РАН) НТЦ ИВС-80</a></address><span class="desc"> (~ 500 рабочих мест)</span></span>
        </header>
    </article>
    <div class="padd">
    <article>
        <header>
            <h2>Инженер-программист<time>09.13 – по н.в</time></h2>
        </header>
        <p class="tick">  Разработка внутренних сервисов</p>
        <p class="tick">  Менторствовал летних стажёров, развернули RAID-10 на ZFS, написали документацию</p>
        <p class="tick">  Осуществил живую миграцию на новый почтовый сервер (Exim, PostgreSQL) с переходом c POP3 на IMAP, привнеся улучшения и избавившись от спама </p>
    </article>
    <article>
        <header>
            <h2>Лаборант<time>09.12 – 09.13</time></h2>
        </header>
        <p class="tick"> Внедрение стажорских наработок в производство, переосмысление и реструктизация существующей архитектуры сети, миграция с FreeBSD Jail на Proxmox VM debian</p>
        <p class="tick"> Развернул виртуализацию на базе о Proxmox VE (KVM, OpenVZ)</p>
        <p class="tick"> Администрирование веб-инфраструктуры и переход от Tomcat, Apache, Claros Web Mail на Jetty, Nginx/PHP-FMP, RoundCube</p>
    </article>
    <article>
        <header>
            <h2>Стажёр по Unix-системам<time>07.12 – 0.8.12</time></h2>
        </header>
        <p class="tick"> На тестовом стенде развернули новый прокси-шлюз с контроллем трафика (squid), фаервол (Perl-scripts, Iptables), OpenVPN, vsFTPd-хранилище</p>
    </article>
    </div>
</section>
