<section class="thirteen columns">
    <h1>Курсы</h1>
    <article>
<!--         <header>
            <h1>Курсы</h1>
            <span><address>Stanford online</address></span>
        </header> -->
        <header>
            <h1><a class="underline" href="https://www.coursera.org/specializations/interaction-design">Human-Computer Interaction</a></h1>
            <span><address><a class="underline" href="http://file.naydenov.tk/naydenov-id18-Human-Computer-Interaction--summer2012-accomplishment.pdf">сертификат</a></address><time>28.05.12–14.07.12</time></span>
        </header>
<!--             <p>Сертификат (http://file.naydenov.tk/naydenov-id18-Human-Computer-Interaction--summer2012-accomplishment.pdf) и результат:</p>
            <p class="tick"> Ознакомился в теории и на практике с прототипированием и тестированием интерфейсов</p>
            <p class="tick"> Использовал Balsamiq Mockups и Jquery Mobile</p> -->
        <header>
            <h1><a class="underline" href="http://www.class-central.com/mooc/388/coursera-computing-for-data-analysis">Computing for Data Analysis</a></h1>
            <span><address><a class="underline" href="http://file.naydenov.tk/naydenov-id970404-Computing-for-Data-Analysis--Winter2013-accomplishment.pdf">сертификат</a></address><time>01.13</time></span>
        </header>
<!--             <p>Сертификат (http://file.naydenov.tk/naydenov-id970404-Computing-for-Data-Analysis--Winter2013-accomplishment.pdf) и результат:</p>
            <p class="tick"> Ознакомление с концепцией «Big Data», на основе языка статической обработки R</p>
            <p class="tick"> Знакомство с библиотеками для визуализации больших объёмов данных</p> -->
        <header>
            <h1><a class="underline" href="http://lagunita.stanford.edu/courses/Engineering/db/2014_1/about">Introduction to Databases</a></h1>
            <span><address><a class="underline" href="http://file.naydenov.tk/naydenov-id97210-db--Winter2013-accomplishment.pdf">сертификат</a></address><time>15.01.13–23.03.13</time></span>
        </header>
<!--            <p>Cертификат (http://file.naydenov.tk/naydenov-id18-Human-Computer-Interaction--summer2012-accomplishment.pdf) и результат:
            </p>
            <p class="tick"> Освоил теоретические основы баз данных</p>
            <p class="tick"> Вхождение в SQL</p> -->
        <header>
            <h1><a class="underline" href="http://umadelo.irktorgnews.ru/karera/luchshie-studenti-it-spetsialnostey-poluchili-stipendiiu-ot-forusa">Лауреат именной стипендии Группы компаний «Форус»</a></h1>
            <span><time>09.13–09.14</time></span>
        </header>
    </article>
</section>