<section class="thirteen columns">
    <h1>Навыки</h1>
    <article>
        <header>
            <h1></h1>
            <span>
            </span>
        </header>
            <div class="row">
                <div class="twp column">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
                </div>
                <div class="ten columns">
                    <em>Серверное администрирование:</em> AWS, Proxmox VE, KVM, Rancher, ZFS, RAID, CoreOS, BareOS, Nginx, PHP-FMP, Jetty, Exim, Dovecot, Systemd.
                </div>
                <div class="twp column">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                </div>
                <div class="ten columns">
                    <em>WebOps:</em>
                    непрерывная интеграция (Travis-CI, Teamcity), мониторинг (Grafana, Prometheus), Docker
                </div>
                <div class="twp column">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                </div>
                <div class="ten columns">
                    <em>Управление базами данных:</em>
                    PostgreSQL, MariaDB Galera Cluster 
                </div>
                <div class="twp column">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-0"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                </div>
                <div class="ten columns">
                    <em>Веб-разработка:</em>
                    Python (Flask, Gunicorn, SQLAlchemy)
                </div>
                <div class="twp column">
                    <i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-0"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                </div>
                <div class="ten columns">
                    <em>Клиентская разработка:</em>
                    Javascript (jQuery Mobile, Processing.js), HTML/CSS (HAML/SASS)
                </div>
            </div>
    </article>
</section>