<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}static/css/grafotar.css" />

<ul class="grafotar">
<li>
<div class="thumb">
<div class="self_photo">
<div class="photo"></div>
<div class="sequence" style="display: none"></div>
</div>
<a class="icn-gh" title="My Github" href="https://github.com/{{ site.github }}" target="_blank">GitHub</a>
<a class="icn-in" title="My linkedin" style="pointer-events:none" href="https://linkedin.com/in/{{ site.linkedin }}" target="_blank"></a>
<a class="icn-tw" title="Follow me" href="https://twitter.com/{{ site.twitter }}" target="_blank"></a>
<a class="icn-ml" title="My Facebook" href="https://facebook.com/{{ site.facebook }}" target="_blank"></a>
</div>
<li>
</ul>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="{{ site.baseurl }}static/js/grafotarbitar.js"></script>
